# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# macOS specific files
.DS_Store
.DS_Store?
._*

# IDE and Editor files
.vscode/
.vs_code/

# Xcode
xcuserdata/

# Executables
*.exe
*.out
*.app
/.vs
/dev/msvc/.vs
/dev/msvc/x64
/dev/tests/build
/dev/msvc/olcPGE3/x64
/dev/msvc/olcPGE3_BuildSH/x64
build/

# Android
/dev/android
.idea/
*.iml
/local.properties
/.gradle

# wayland artifacts
examples/olcPGE3_AntiAliasing
examples/olcPGE3_BatchesOfFills
examples/olcPGE3_BatchesOfLines
examples/olcPGE3_CirclesEllipses
examples/olcPGE3_ImageQuads
examples/olcPGE3_ImageRect
examples/olcPGE3_ImageRegion
examples/olcPGE3_ImageTiling
examples/olcPGE3_Keyboard
examples/olcPGE3_Lines
examples/olcPGE3_Pixels
examples/olcPGE3_PixelShaders
examples/olcPGE3_Polygons
examples/olcPGE3_Rectangles
examples/olcPGE3_Shockwave
examples/olcPGE3_TextBasics
examples/olcPGE3_TextFontMap
examples/xdg-decoration.c
examples/xdg-decoration.h
examples/xdg-decoration.o
examples/xdg-shell.c
examples/xdg-shell.h
examples/xdg-shell.o
