# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# macOS specific files
.DS_Store
.DS_Store?
._*

# IDE and Editor files
.vscode/
.vs_code/

# Xcode
xcuserdata/

# Executables
*.exe
*.out
*.app
/.vs
/dev/msvc/.vs/olcPGE3
/dev/msvc/olcPGE3/x64/Debug
/dev/tests/build
/dev/msvc/olcPGE3_BuildSH/x64/Debug
/dev/msvc/olcPGE3/x64/Release
/dev/msvc/x64/Debug/olcPGE3.tlog
/dev/msvc/.vs/CopilotSnapshots/48318E23BE80F04A9ED976A29E9EEE0D
/dev/msvc/olcPGE3_BuildSH/x64/Release
/dev/msvc/.vs/CopilotSnapshots/7B23092673724F4A930E627F3C0D78FA
/dev/xcode_macOS/build
/dev/xcode_macOS/bin
